<div id="<%= dom_id artist %>">
  <p>
    <strong>Pseudo:</strong>
    <%= artist.pseudo %>
  </p>

  <p>
    <strong>Profilp:</strong>
    <%= artist.profilp %>
  </p>

  <p>
    <strong>Support:</strong>
    <%= artist.support %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= artist.description %>
  </p>

  <p>
    <strong>Imagep:</strong>
    <%= artist.imagep %>
  </p>

  <p>
    <strong>Insta:</strong>
    <%= artist.insta %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= artist.link %>
  </p>

</div>
