
<div id="<%= dom_id artist %>">


<div class="centrageI" >
<div class="card mb-3" style="max-width: 100%;">
  <div class="row g-0">
    
    <div class="col-md-4" style="height: 100%;" >
    <div class="CentragePdP">
      <img src="<%= artist.imagep %>" style="width:100%;">
    </div>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= artist.pseudo %></h5>
        <ul>
        <p class="card-text"><%= artist.support %></p>
        <p class="card-text"><%= artist.description %></p>
        <p>
    <strong>Insta:</strong>
    <a href="<%= artist.insta %>"><%= artist.insta %></a>
        </p>

        <p>
    <strong>Link:</strong>
    <a href="<%= artist.link %>"><%= artist.link %></a>
        </p>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>