<%= form_with(model: artist) do |form| %>
  <% if artist.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(artist.errors.count, "error") %> prohibited this artist from being saved:</h2>

      <ul>
        <% artist.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group" style="padding-left:10vw">
    <%= form.label :pseudo, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_field :pseudo, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :profilp, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_area :profilp, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :support, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_field :support, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :description, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_area :description, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :imagep, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_area :imagep, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :insta, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_field :insta, class: "form-control" %>
  </div>  </div>


  <div class="form-group" style="padding-left:10vw">
    <%= form.label :link, style: "display: block" %>
    <div class="col-md-6">
    <%= form.text_field :link, class: "form-control" %>
  </div>  </div>
  <br>
  <div style="padding-left:10vw">

<%= form.submit class: "btn btn-primary" %>
  </div>

  <% end %>