<!DOCTYPE html>
<html>
  <head>
    <title>Spynelle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
     <header>
        <h1>Spynelle</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="#"></a></li>
                <li><a href="artists">Artists</a></li>
            </ul>
        </nav>
    </header>
        <main>
        <section>
            <h2>Mentions Légales</h2>
            <p>Ce site est édité par Spynelle.</p>
            <p>Adresse : 1 rue Jacques Ellul Bordeaux 33000</p>
            <p>Numéro de téléphone : 0123456789</p>
            <p>Email : mail@spynelle.com</p>
        </section>

        <section>
            <h3>Responsable de la publication</h3>
            <p>Spynelle</p>
        </section>

        <section>
            <h3>Hébergement</h3>
            <p>Le site est hébergé par Scalingo</p>
        </section>
    </main>
    <%= yield %>
    <footer>
        <p>&copy; 2024 Spynelle, Tous droits réservés.</p>
    </footer>
  </body>
</html>