<p style="color: green"><%= notice %></p>
<br>
<br>


      <div class="centrageD">
<div class="row">
  <% @artists.each do |artist| %>
    <div class="col-lg-3">
      <div class="card">
        <img src="<%= artist.profilp %>" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title"><strong><%= artist.pseudo %></strong></h5>
          <p class="card-text"><%= artist.description %></p>
          <div class="bouton-show">
          <%= link_to "Show this artist", artist, class: "btn btn-dark" %>
        </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
  </div>
  <div class="buttonS">
    
 <button type="button" class="btn btn-dark"><%= link_to "New artist", new_artist_path %></button>

 </div>



