<p style="color: green"><%= notice %></p>

<h1>Artists</h1>



<div id="artists">
  <div class="allignementC">
  <% @artists.each do |artist| %>
  
   
      <div class="card" style="width: 18rem;">
  <img src="<%= artist.profilp %>" class="card-img-top" alt="..." style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><strong><%= artist.pseudo %></strong></h5>
    <p class="card-text"><%= artist.description %></p>
    <button type="button" class="btn btn-dark"><%= link_to "Show this artist", artist, class: "btn_show" %></button>
  
</div>



</div>

  <% end %>
  </div>
<%= link_to "New artist", new_artist_path %>


