<p style="color: green"><%= notice %></p>

<h1>Artists</h1>



      <div class="centrageD">
     <div class="row col-lg-12">
  <% @artists.each do |artist| %>

  
   
      <div class="card" style="width: 18rem;" style="width: 100%;">
  <img src="<%= artist.profilp %>" class="card-img-top" alt="..." style="width: 100%;">
  <div class="card-body">
    <h5 class="card-title"><strong><%= artist.pseudo %></strong></h5>
    <p class="card-text"><%= artist.description %></p>
    <button type="button" class="btn btn-dark"><%= link_to "Show this artist", artist, class: "btn_show" %></button>
    </div>
    </div>





  <% end %>
  </div>
  </div>
<%= link_to "New artist", new_artist_path %>


