<p style="color: green"><%= notice %></p>

<%= render @artist %>

<div class="buttonS3">
  <button type="button" class="btn btn-dark"><%= link_to "Edit this artist", edit_artist_path(@artist) %></button>
  <button type="button" class="btn btn-dark"><%= link_to "Back to artists", artists_path %></button>
  <div class="buttonD">
  <%= button_to "Delete this artist", @artist, method: :delete %>
  </div>
</div>
